<div>
  {{!-- Стандартный хэлпер --}}
  {{MSG 'Ключ 3_1'}}
  {{!-- Partial без хэлпера (не будет собран как ключ) --}}
  {{> item text_1="Ключ 3_2"}}
  {{!-- Partial с хэлпером --}}
  {{> item text_1=(MSG 'Ключ 3_3_1') text_2=(MSG 'Ключ 3_3_2' 'Контекст 3_3_2' data_3_3_2)}}
</div>
